.payment {
    padding: 60px 16px 100px;
}


.payment-container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-tabs {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.nav-item {
    color: #8a8887;
    font-weight: 500;
    white-space: nowrap;
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item span {
    font-weight: 500;
    font-size: 1.2em;
}


.heading {
    color: #d55227;
    font-size: 2.2em;
    font-weight: 400;
}


.subheading {
    color: #222;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10px 0;
}


.disc {
    color: #788292;
    font-size: 14px;
}

.boxcontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    margin: 20px 0;
}

.payment-option {
    border: 2px solid #788292;
    border-radius: .5rem;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 10px 20px;
    transition: border 0.3s ease, color 0.3s ease;
    width: 100%;
}

.payment-option.selected {
    border-color: #d55227;
}

.payment-option .checkbox-wrap {
    display: flex;
    align-items: center;
}

.payment-option input[type="radio"] {
    accent-color: black;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}


.payment-option.selected input[type="radio"] {
    accent-color: #d55227;
}

.payment-icon {
    height: 40px;
    width: 120px;
    margin-left: 5px;
}

.payment-option p {
    color: #788292;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 5px;
}

.payment-option.selected p {
    color: #d55227;
}

.total-payout {
    font-size: 1.5rem;
    color: #788292;
}

.order-summary{
    margin-bottom: 40px;
}

.offer-summary-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px 0px;
    font-size: 1em;
    gap: 18px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    width: fit-content;
}

.offer-summary-btn.show-details p {
    color: #d55227;
}

.offer-summary-btn.show-details i{
    transition: transform 0.3s ease;
}
.offer-summary-btn.show-details i {
    transform: rotate(180deg);
    color: #d55227;
}

.order-summary-dropdown{
    background-color: #f4f2f269;
    border: 1px solid #e3e6e9fc;
    padding: 10px 15px;
    border-radius: 5px;
}

.order-summary-dropdown li{
    border-bottom: 1px solid #dddddda5;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    color: #788292;
    font-size: 14px;
}

.order-summary-dropdown li:last-child{
    border-bottom: none;
}


.order-summary-dropdown li b {
    font-weight: 600;
    font-size: 14px;
}

.input {
    display: block;
    width: 100%;
    height: 52px;
    background: none;
    border-radius: .5rem;
    outline: none;
    padding: 1.25rem;
    border: 1px solid #c0bebe;
    margin-bottom: 30px;
    transition: color .25s ease-in-out;
}

.payable-to-lable {
    color: #788292;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.check-question {
    color: #788292;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}


.use-shipping-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.use-shipping-info input[type="checkbox"] {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.use-shipping-info p {
    font-weight: 500;
}

.payment-address {
    border: 1px solid #788292;
    border-radius: 8px;
    padding: 20px 15px;
    font-size: 14px;
}

.custom-select {
    position: relative;
    height: 52px;
    border: 1px solid #c0bebe;
    border-radius: .5rem;
    display: block;
    width: 100%;
    padding: 0 1.25rem;
    transition: color .25s ease-in-out;
    outline: none;
    margin-bottom: 30px;
}


.label-disabled {
    height: 52px;
    border-radius: .5rem;
    display: block;
    width: 100%;
    padding: .2rem 1.25rem;
    margin-bottom: 4px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    color: #788292;
    font-size: 16px;
}

.offer-summary-btn i {
    transition: transform 0.3s ease;
}

.offer-summary-btn.show-details2 p {
    color: #d55227;
}
.offer-summary-btn.show-details2 i {
    transform: rotate(180deg);
    color: #d55227;
}



/* Default gray background for the button */
.btn-gray {
    background-color: #ddd;
    cursor: not-allowed;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 20px 0;
    padding: 12px 40px;
    transition: all .25s ease-in-out;
}

.btn-active {
    background-color: #d55227;
    cursor: pointer;
}

.hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    .boxcontainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .payment {
        padding: 40px 16px 100px;
    }
    
    .heading {
        font-size: 1.7em;
    }
    
    
    .subheading {
        font-size: 1.2em;
    }

    .total-payout {
        font-size: 1.2rem;
    }
    .payment-option {
        padding: 10px;
    }

    .nav-tabs{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .nav-item {
        font-size: .8em;
    }
    
    .nav-item span {
        font-size: 1em;
    }

}